# Ignore virtual environment and dependencies
.venv/

# Ignore environment variables
.env
.env.*

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore pytest cache folders
.pytest_cache

# Ignore logs files
logs/
*.log
*.log.*

# Ignore IDE/editor-specific directories and files
.vscode/
!.vscode/extensions.json
.cursor/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.csv
*.csv.bak

# Ignore data files
.data/

# Ignore trunk cache
.trunk/

# Ignore mypy cache
.mypy_cache/

# Ignore ruff cache
.ruff_cache/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env.local
.env.production
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# Database
*.db
*.sqlite3

# IDE settings
*.swp
*.swo

# OS specific
Thumbs.db
